Source: jbrickshooter
Section: applications
Priority: optional
Maintainer: X-Stranger <xstranger@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: jbrickshooter
Architecture: all
Depends: sun-java6-jre
Description: Absolutely free Brick Shooter game Java implementation
 This project written in Java aims to create free implementation of perfect puzzle game named Brick Shooter
